@{
    ViewData["Title"] = "Hotel Management Application";
}

<img src="/Images/logo.png" style="width:350px;height:220px;display:block;margin-left:auto;margin-right:auto" />
<h1 class="text-center" style="margin-top:10px">@ViewData["Title"]</h1>
<p class="text-center">Manage Rooms, Bookings, and Guests</p>
