@model Guest
@{
    ViewData["Title"] = "Modify Guest Details";
}
<h1 class="m-2">@ViewData["Title"]</h1>

<a asp-action="GuestHome" class="btn btn-outline-secondary m-2">Return to Guests</a>

<form method="post">
    <div class="form-group m-2">
        <label asp-for="guestId" class="form-label">Guest Id:</label>
        <input asp-for="guestId" readonly class="form-control" />
    </div>

    <div class="form-group m-2">
        <label asp-for="guestName" class="form-label">Full Name:</label>
        <input asp-for="guestName" type="text" class="form-control" placeholder="John Smith" />

    </div>

    <div class="form-group m-2">
        <label asp-for="guestPhoneNo" class="form-label">Phone Number:</label>
        <input asp-for="guestPhoneNo" type="tel" class="form-control" placeholder="415-555-2671" />
    </div>

    <div class="form-group m-2">
        <label asp-for="guestEmail" class="form-label">Email:</label>
        <input asp-for="guestEmail" type="email" class="form-control" placeholder="John@outlook.com" />
    </div>

    <button type="submit" class="btn btn-info m-2" style="color:white"><i class="fa fa-pencil" title="Edit"></i> UPDATE GUEST</button>
</form>